<ul class="nav navbar-light bg-light">
  <li class="nav-item col-1">
    <i *ngIf="showBack" class="fa fa-angle-left" style="font-size: 2.5rem" (click)="voltar()"></i>
  </li>
  <li class="nav-item col-5">
    <div class="navbar-brand" style="font-size: 1.5rem">Simulação</div>
  </li>
</ul>
