<div class="container">
  <app-titulo *ngIf="valoresValidos" titulo="Taxas da simulação permitidas"
              texto="Todas as taxas simuladas são permitidas."
              texto2="Ofereça ao seu cliente."
  >
  </app-titulo>
  <app-titulo *ngIf="!valoresValidos" titulo="Taxas da simulação permitidas"
              [texto]="texto()"
  >
  </app-titulo>
  <table class="table mt-3">
    <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Concorrente</th>
      <th scope="col">Proposta</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Débito</td>
      <td>{{taxa.debito.taxaConcorrente}}%</td>
      <td [ngClass]="{
      negado : taxa.debito.descontoOferecido < ramoAtividade.taxaDebitoMinimo,
      aceito: taxa.debito.descontoOferecido > ramoAtividade.taxaDebitoMinimo
      }"
      >
        {{taxa.debito.descontoOferecido}}%
      </td>
    </tr>
    <tr>
      <td>Crédito</td>
      <td>{{taxa.credito.taxaConcorrente}}%</td>
      <td [ngClass]="{
      negado : taxa.credito.descontoOferecido < ramoAtividade.taxaCreditoMinimo,
      aceito: taxa.credito.descontoOferecido > ramoAtividade.taxaCreditoMinimo
      }"
      >{{taxa.credito.descontoOferecido}}%</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!valoresValidos">
    O valor de taxa mínima para débito é {{ramoAtividade.taxaDebitoMinimo}}%,
    enquanto para crédito é {{ramoAtividade.taxaCreditoMinimo}}%
  </div>
</div>
