<app-navbar
  [showBack]="true"
  [passo]="passo"
  (passoAnterior)="passoChangedHandler($event)"
>
</app-navbar>
<div [ngSwitch]="passo" class="mt-3">
  <app-cliente
    *ngSwitchCase=0
    [cliente]="cliente"
    [ramoAtividades]="ramosAtividades"
    (valido)="validoChangedHandler($event)"
  >
  </app-cliente>
  <app-taxa
    *ngSwitchCase=1
    [taxa]="taxa"
    [concorrentes]="concorrentes"
    (valido)="validoChangedHandler($event)"
  >
  </app-taxa>
  <app-resultado
    *ngSwitchCase=2
    [taxa]="taxa"
    [ramoAtividade]="ramoAtividade()"
    [valoresValidos]="valoresValidos()"
  >
  </app-resultado>
</div>
<div class="fixed-bottom">

  <button *ngIf="passo < 2 && valoresValidos()" type="button" class="col btn btn-secondary" (click)="proximo()"
          [disabled]="!valido">
    <span class="align-middle">{{lista[passo].texto}}</span>
    <i *ngIf="lista[passo].icone" class="fa fa-angle-right position-absolute"
       style="right: 1rem; bottom: 0.2rem;font-size: xx-large"></i>
  </button>

  <div *ngIf="passo === 2 && valoresValidos()">
    <button type="button" class="col btn btn-secondary" (click)="propostaAceita()"
            [disabled]="!valido">
      <span class="align-middle">{{lista[passo].texto}}</span>
      <i *ngIf="lista[passo].icone" class="fa fa-angle-right position-absolute"
         style="right: 1rem; bottom: 0.2rem;font-size: xx-large"></i>
    </button>
    <button type="button" class="col btn btn-light" (click)="propostaRecusada()"
            [disabled]="!valido">
      <span class="align-middle">{{lista[passo + 1].texto}}</span>
      <i *ngIf="lista[passo].icone" class="fa fa-angle-right position-absolute"
         style="right: 1rem; bottom: 0.2rem;font-size: xx-large"></i>
    </button>
  </div>

  <button *ngIf="!valoresValidos()" type="button" class="col btn btn-secondary" (click)="anterior()"
          [disabled]="!valido">
    <span class="align-middle">Reajustar</span>
    <i *ngIf="lista[passo].icone" class="fa fa-angle-right position-absolute"
       style="right: 1rem; bottom: 0.2rem;font-size: xx-large"></i>
  </button>
</div>
