<div class="container">
  <app-titulo titulo="Informações de taxas" texto="Os campos obrigatórios estão sinalizados com *"></app-titulo>
  <form class="form-color mt-3" [formGroup]="formTaxa">
    <div class="row mb-3">
      <div class="col-12">
        <span>Concorrente *</span>
        <select class="form-control border-dark"
                name="concorrente"
                formControlName="concorrente"
                (ngModelChange)="taxa.concorrente.id = concorrente.value"
        >
          <option *ngIf="taxa.concorrente.id === undefined" disabled [ngValue]=null>Selecione</option>
          <option *ngFor="let item of concorrentes" [ngValue]="item.id">{{ item.nome }}</option>
        </select>
      </div>
    </div>
    <div class="form-title">Débito</div>
    <div class="row mb-3">
      <div class="col">
        <span class="form-text">Taxa do concorrente *</span>
        <input type="number"
               class="form-control border-dark"
               name="taxaDebitoTaxaConcorrente"
               formControlName="taxaDebitoTaxaConcorrente"
               (ngModelChange)="modelChange()"
        >
        <div
          *ngIf="formTaxa.controls['taxaDebitoTaxaConcorrente'].invalid &&
          (formTaxa.controls['taxaDebitoTaxaConcorrente'].dirty || formTaxa.controls['taxaDebitoTaxaConcorrente'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0.4rem; text-align: justify-all; margin-bottom: -0.5rem;"
        >
          <div *ngIf="formTaxa.controls['taxaDebitoTaxaConcorrente'].errors.required"
               style="margin: auto"
          >
            Taxa do concorrente é obrigatório.
          </div>
          <div *ngIf="formTaxa.controls['taxaDebitoTaxaConcorrente'].errors.min">
            Porcentagem menor que 1.
          </div>
          <div *ngIf="formTaxa.controls['taxaDebitoTaxaConcorrente'].errors.max">
            Porcentagem menor que 100.
          </div>
        </div>
      </div>
      <div class="col">
        <span class="form-text">Desconto oferecido *</span>
        <input type="number"
               class="form-control border-dark"
               name="taxaDebitoDescontoOferecido"
               formControlName="taxaDebitoDescontoOferecido"
               (ngModelChange)="modelChange()"
        >
        <div
          *ngIf="formTaxa.controls['taxaDebitoDescontoOferecido'].invalid &&
          (formTaxa.controls['taxaDebitoDescontoOferecido'].dirty || formTaxa.controls['taxaDebitoDescontoOferecido'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0.4rem; text-align: justify-all; margin-bottom: -0.5rem;"
        >
          <div *ngIf="formTaxa.controls['taxaDebitoDescontoOferecido'].errors.required"
               style="margin: auto"
          >
            Taxa do concorrente é obrigatório.
          </div>
          <div *ngIf="formTaxa.controls['taxaDebitoDescontoOferecido'].errors.min">
            Porcentagem menor que 1.
          </div>
          <div *ngIf="formTaxa.controls['taxaDebitoDescontoOferecido'].errors.max">
            Porcentagem menor que 100.
          </div>
        </div>
      </div>
    </div>

    <div class="form-title">Crédito</div>
    <div class="row">
      <div class="col">
        <span class="form-text">Desconto oferecido *</span>
        <input type="number"
               class="form-control border-dark"
               name="taxaCreditoTaxaConcorrente"
               formControlName="taxaCreditoTaxaConcorrente"
               (ngModelChange)="modelChange()"
        >
        <div
          *ngIf="formTaxa.controls['taxaCreditoTaxaConcorrente'].invalid &&
          (formTaxa.controls['taxaCreditoTaxaConcorrente'].dirty || formTaxa.controls['taxaCreditoTaxaConcorrente'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0.4rem; text-align: justify-all; margin-bottom: -0.5rem;"
        >
          <div *ngIf="formTaxa.controls['taxaCreditoTaxaConcorrente'].errors.required"
               style="margin: auto"
          >
            Taxa do concorrente é obrigatório.
          </div>
          <div *ngIf="formTaxa.controls['taxaCreditoTaxaConcorrente'].errors.min">
            Porcentagem menor que 1.
          </div>
          <div *ngIf="formTaxa.controls['taxaCreditoTaxaConcorrente'].errors.max">
            Porcentagem menor que 100.
          </div>
        </div>
      </div>
      <div class="col">
        <span class="form-text">Desconto oferecido *</span>
        <input type="number"
               class="form-control border-dark"
               name="taxaCreditoDescontoOferecido"
               formControlName="taxaCreditoDescontoOferecido"
               (ngModelChange)="modelChange()">
        <div
          *ngIf="formTaxa.controls['taxaCreditoDescontoOferecido'].invalid &&
          (formTaxa.controls['taxaCreditoDescontoOferecido'].dirty || formTaxa.controls['taxaCreditoDescontoOferecido'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0.4rem; text-align: justify-all; margin-bottom: -0.5rem;"
        >
          <div *ngIf="formTaxa.controls['taxaCreditoDescontoOferecido'].errors.required"
               style="margin: auto"
          >
            Taxa do concorrente é obrigatório.
          </div>
          <div *ngIf="formTaxa.controls['taxaCreditoDescontoOferecido'].errors.min">
            Porcentagem menor que 1.
          </div>
          <div *ngIf="formTaxa.controls['taxaCreditoDescontoOferecido'].errors.max">
            Porcentagem menor que 100.
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
