/* You can add global styles to this file, and also import other style files */

.form-color {
  color: lightslategrey
}

.form-title {
  color: black;
  font-weight: bold;
}

.form-text {
  font-size: 0.9rem;
}

.titulo-texto {
  font-size: 0.9rem;
  color: lightslategrey
}

.table > thead > tr > th {
  border-top-color: transparent;
}

.negado {
  color: red;
}

.aceito {
  color: green;
}
