<app-navbar [showBack]=false></app-navbar>
<div class="container mt-3">
  <button type="button" class="col btn btn-secondary" routerLink="/simulacao">Nova simulação</button>
  <button type="button" class="col btn btn-light mt-3" (click)="downloadCSV()">Visualizar propostas aceitas</button>
</div>
