<div class="container">
  <app-titulo titulo="Dados do cliente" texto="Os campos obrigatórios estão sinalizados com *"></app-titulo>
  <form class="mt-3" style="color: lightslategrey" [formGroup]="formCliente">
    <div class="form-row mb-3">
      <div class="col">
        <span>CPF *</span>
        <input type="text"
               class="form-control border-dark"
               name="cpf"
               tabindex="1"
               formControlName="cpf"
               (ngModelChange)="modelChange()">
        <div
          *ngIf="formCliente.controls['cpf'].invalid && (formCliente.controls['cpf'].dirty || formCliente.controls['cpf'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0; text-align: center; margin-bottom: -0.5rem"
        >
          <div *ngIf="formCliente.controls['cpf'].errors.required">
            CPF é obrigatório.
          </div>
          <div *ngIf="formCliente.controls['cpf'].errors.pattern">
            Formato 123.456.789-12.
          </div>
        </div>
      </div>
      <div class="col">
        <span>Telefone *</span>
        <input type="tel"
               class="form-control border-dark"
               name="phone"
               tabindex="2"
               formControlName="telefone"
               (ngModelChange)="modelChange()">
        <div
          *ngIf="formCliente.controls['telefone'].invalid && (formCliente.controls['telefone'].dirty || formCliente.controls['telefone'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0; text-align: center; margin-bottom: -0.5rem"
        >
          <div *ngIf="formCliente.controls['telefone'].errors.required">
            Telefone é obrigatório.
          </div>
          <div *ngIf="formCliente.controls['telefone'].errors.pattern">
            Telefone com 11 digitos.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col">
        <span>E-mail</span>
        <input type="email"
               class="form-control border-dark"
               name="email"
               tabindex="3"
               formControlName="email"
               (ngModelChange)="modelChange()">
        <div
          *ngIf="formCliente.controls['email'].invalid && (formCliente.controls['email'].dirty || formCliente.controls['email'].touched)"
          class="alert alert-danger mt-2"
          style="font-size: 0.8rem; padding: .75rem 0; text-align: center; margin-bottom: -0.5rem"
        >
          <div *ngIf="formCliente.controls['email'].errors.pattern">
            Email no formato email@email.com.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <span>Ramo de atividade *</span>
        <select class="form-control border-dark"
                name="ramoAtividade"
                tabindex="3"
                formControlName="ramoAtividade"
                (ngModelChange)="modelChange()"
        >
          <option *ngIf="cliente.ramoAtividade.id === undefined" disabled [ngValue]=null>Selecione</option>
          <option *ngFor="let item of ramoAtividades" [ngValue]="item.id">{{ item.nome }}</option>
        </select>
      </div>
    </div>
  </form>
</div>

